body {
  font-family: -apple-system, -webkit-system-font, Helvetica, Arial, san-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.logo-wrap {
  width: 260px;
}

.logo {
  width: 113px;
  height: 85px;
  padding: 5px;
}

.fixed-header {
  width: 100%;
  position: fixed;
  background: radial-gradient(ellipse at bottom, #283748 0, #090a0f 100%);
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  font-size: 22px;
  color: white;
  text-align: center;
  width: 350px;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  border-radius: 2px;
  transition: background-color 600ms, border-bottom 600ms;
}

.search:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid white;
}

.navigation {
  width: 260px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.navigation > a {
  color: white;
  margin: 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navigation > a:last-child {
  margin-right: 20px;
}

.navigation > a:hover {
  color: #ffbb00;
}

.info-package-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-package-name {
  font-size: 32px;
  display: inline-block;
  color: #222;
}

.info-package-version {
  font-size: 120%;
  display: inline-block;
  color: #333;
}

.info-package-description {
  display: block;
  color: #777;
  margin: 0;
}

.import-container {
  margin: 10px 5px;
  padding: 10px;
  font-size: 18px;
  border-radius: 2px;
  color: #ffbb00;
  background-color: #222;
  background-image: url("/-/public/clipboard-solid.svg");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 2%;
}

.import-container-copied {
  background-image: url("/-/public/clipboard-check-solid.svg");
}

.import-container:hover .import-link {
  background-color: #555;
}

.import-container-copied .import-link {
  background-color: #222 !important;
}

.package-dependencies-amount-container {
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  padding: 15px 0 0 5px;
  border-top: 1px solid #ccc;
}

.package-dependencies-amount-container::before {
  content: '+ ';
  font-size: 24px;
  color: #333;
}

.package-dependencies-amount-container-expanded.package-dependencies-amount-container::before {
  content: '− ';
}

.package-dependencies-list {
  background-color: #222;
  color: white;
  height: 0;
  list-style: none;
  line-height: 26px;
  margin-top: 0;
  padding: 0 10px;
  overflow: scroll;
  transition: 300ms height, 300ms padding;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
}

.package-dependencies-list-expanded {
  height: 400px;
  padding: 10px;
}

.package-dependency-wrapper {
  padding: 10px 3px;
}

.package-dependency {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid #daa000;
  border-radius: 20px;
}

.package-dependency:hover {
  background-color: #daa000;
}

.filebrowser {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 15px 0;
  padding: 15px 0 0;
}

.filename {
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
  padding-left: 5px;
}

.filename::before {
  content: '+ ';
  color: #333;
}

.filename-expanded.filename::before {
  content: '− ';
}

.filetree {
  cursor: pointer;
  background-color: #222;
  color: white;
  height: 0;
  list-style: none;
  line-height: 26px;
  margin-top: 0;
  padding: 0 20px;
  overflow: scroll;
  transition: 300ms height;
}

.filetree-expanded {
  height: 400px;
}

.filetree-directory::before {
  content: '📁';
}

.filetree-directory-opened::before {
  content: '📂';
}

.filetree-directory > ul {
  list-style: none;
  overflow: hidden;
  padding: 0 0 0 20px;
}

.filetree-directory-folded {
  height: 0;
}

.filetree-file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filetree-file-name::before {
  content: '📄';
}

.filetree-current {
  background-color: #777;
}

main {
  line-height: 1.5em;
  padding: 99px 10px 10px;
  color: black;
  background-color: white;
  min-height: calc(100vh - 184px);
  z-index: 1;
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: auto;
}

#versions {
  font-size: 16px;
}

pre {
  display: block;
  border-radius: 5px;
  background-color: #222;
  padding: 15px;
  margin: 15px;
  color: #aaa;
  /* font-size: 16px; */
  overflow: scroll;
}

#search-results {
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 184px);
}

.loader-container {
  position: relative;
}

.loader-container > img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.loading {
  width: 140px;
  height: 140px;
  border-right: 8px solid #ffbb00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: spin .8s linear infinite;
}

.image-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: #aaa;
  background-image: linear-gradient(45deg, #555 25%, transparent 25%, transparent 75%, #555 75%, #555),
    linear-gradient(45deg, #555 25%, transparent 25%, transparent 75%, #555 75%, #555);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.image-hint {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #daa000;
  color: white;
  border-radius: 2px;
  padding: 5px 10px;
}

.image-background:hover .image-hint {
  display: block;
}

.hidden {
  display: none;
}

.scrollable {
  overflow: scroll;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}

footer {
  color: white;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 870px) {
  .fixed-header .search-field {
    display: none;
  }
}
